%h1 Edit Event:

%form{:role => 'form',:action=>"/admin/event/", :method=>"POST"}
	- if @event.id
		%input{:type=>"hidden", :name=>"id", :value=>@event.id}
	%input{:type=>"hidden", :name=>"conference_id", :value=>@event.conference_id}
	.form-group
		%label
			Name:
			%input.form-control{:type=>"text", :name=>"name", :value=>@event.name}
	.form-group
		%label
			Location:
			%input.form-control{:type=>"text", :name=>"location", :value=>@event.location}				
	.form-group
		%label
			Description:
			%textarea.form-control{:name=>"description"}= @event.description
	%input.btn.btn-primary{:type=>"submit", :value=>"Save"}
