%h1 Edit Event:

%form{:role => 'form',:action=>"/admin/event/edit/", :method=>"POST"}
	- if @event.id
		%input{:type=>"hidden", :name=>"id", :value=>@event.id}
	.form-group
		%label
			Conference:
			%select.form-control{:name=>"conference_id"}
				- @conferences.each do |c|
					%option{:value=>c.id}= c.name
	.form-group
		%label
			Name:
			%input.form-control{:type=>"text", :name=>"name", :value=>@event.name}
	.form-group
		%label
			Location:
			%input.form-control{:type=>"text", :name=>"location", :value=>@event.location}				
	.form-group
		%label
			Description:
			%textarea.form-control{:name=>"description"}= @event.description
	%input.btn.btn-primary{:type=>"submit", :value=>"Save"}
