%form.form-horizontal{:action=>"/admin/event/#{@event.id}/election/", :method=>"POST"}
  .row
    .well
      %h3
        - if @election.id
          %input{:type=>"hidden", :name=>"id", :value=>@election.id}
          Edit
        - else
          Add
        Election
  .row
    .col-md-10
      .form-group
        %label.control-label{:for=>"#election_name"} Title
        .controls
          %input.form-control#election_name{:type=>"text",:name=>"name",:value=>@election.name}
      .form-group
        %label.control-label{:for=>"#election_type"} Type:
        .controls
          %select.form-control#election_type{:name=>"type"}
            - [PresentationElection, PanelElection, LocationElection, KeynoteElection, TShirtElection].each do |t|
              - if @election.is_a? t
                %option{selected: true, value: t}= t.model_name.human
              - else
                %option{value: t}= t.model_name.human
      .form-group
        %label.control-label{:for=>"#election_start_date"} Start
        .controls
          %input.form-control.col-md-2{:id=>"election_start_date", :type=>"date", :name=>"start_date", :value=>((@election.start_time ? @election.start_time : Date.today).strftime('%Y-%m-%d'))}
          .input-group-append.bootstrap-timepicker-component
            %input.form-control.timepicker-default.input-small{:type=>"text", :name=>"start_time", :value=>((@election.start_time ? @election.start_time : DateTime.now).strftime('%H:%M:%S'))}
            %span.add-on
              %i.icon-time

      .form-group
        %label.control-label{:for=>"#election_end_date"} End 
        .controls
          %input.form-control.col-md-2{:id=>"election_end_date", :type=>"date", :name=>"end_date", :value=>((@election.end_time ? @election.end_time : Date.today + 2.weeks).strftime('%Y-%m-%d'))}
          .input-append.bootstrap-timepicker-component
            %input.form-control.timepicker-default.input-small{:type=>"text", :name=>"end_time", :value=>((@election.end_time ? @election.end_time : DateTime.now).strftime('%H:%M:%S'))}
            %span.add-on
              %i.icon-time
      .checkbox
        %label{:for=>"#election_auth_required", :title=>"Require users log in to view the election or its results (hide from search engines)"} 
          %input{:id=>"election_auth_required", :type=>"checkbox", :name=>"auth_required", :checked =>@election.auth_required}         
          Authorization Required?
  .row
    .well
      %a.btn{:href=>"/admin/event/#{@event.id}"} Cancel
      %input.btn.btn-primary{:type=>'submit', :value=>'Save'}
