%form{:action=>"/admin/conference/", :method=>"POST"}
	- if @conference.id
		%input{:type=>"hidden", :name=>"id", :value=>@conference.id}
	%div.form-group
		%label{:for=>"name"} Conference Name
		%input.form-control{:type=>"text", :name=>"name", :value=>@conference.name}

	%input.btn.btn-primary{:type=>"submit", :value=>"save"}
