%h1 Diebold-o-Tron
%a.btn.btn-primary.pull-right{:href=>"/admin/conference/new"} Add conference
%h2 Conferences
%ul.list-unstyled
  - @conferences.each do |conference|
    %li
      %a{:href=>"/admin/conference/#{conference.id}"}
        = conference.name
