= haml :"election/ratingelection_explanation"

%p When rating nominees, please consider whether they are likely to be an excellent contributor in each the following areas:

%ol
  %li Appropriateness. Is this speaker likely to convey information that is useful to many members of our community?
  %li Uniqueness. Is this speaker likely to cover themes that may not commonly appear in the rest of the program?
  %li Contribution to diversity. Will this person bring something rare, notable, or unique to our community, through unusual experience or background?

