= haml :"election/ratingelection_explanation"
%p The top proposal will be guaranteed a slot at the conference. Panel voting is voting for a topic, in which the submitter will work with the program committee to organize panelists for the panel. 
