= haml :"election/ratingelection_explanation"
%p The top 10 presentation proposals with the highest scores will be guaranteed a slot at the conference. Additional presentations will be selected by the Program Committee in an effort to ensure diversity in program content. Community votes will, of course, still weigh heavily in these decisions. 
%p Panel voting is voting for a topic, in which the submitter will work with the program committee to organize panelists for the panel. The top proposal will be selected for the panel slot at the conference.
%p The top 12 posters at the end of community voting will be included in the conference program. 
