%div{:class=>"row-fluid"}
  .span10 For each item, choose the score you wish to assign from 0-3.  You may assign scores to as many items as you like.  The winners will be chosen from the highest scores.