%div{:class=>"row-fluid"}
  .col-md-10 For each item, choose the score you wish to assign from 0-3.  You may assign scores to as many items as you like. The top 10 proposals with the highest scores will be guaranteed a slot at the conference. Additional presentations will be selected by the Program Committee in an effort to ensure diversity in program content. Community votes will, of course, still weigh heavily in these decisions.
