%div{:class=>"btn-group btn-group-sm rating-widget", :"data-toggle"=>"buttons"}
  - (0..3).each do |score|
    - checked = ((selected == score) ? 'checked' : nil)
    %label.btn.btn-default.btn-inverse.rating-score
      %input{:type => 'radio', :name => "item[#{item_id}]", :id=>"item[#{item_id}]", :value=>score, :checked=>checked}
      =score
