%dt.election_item
	- if @election.open? && session[:username]
		= display_election_item(item, @user, @election)  
	%strong
		%a{:onClick=>"show_hide('election_item_description_#{item.id}')"}= item.name
	%dd
		%p
			%strong Proposal:
			:markdown 
				#{item.description}