.row-fluid
  .well 
    %h2 Edit profile: #{@person.username||session[:username]}
%form.form-horizontal{:action=>"/profile/edit", :method=>"POST"}    
  .row-fluid
    .span10
      %input{:type=>"hidden", :name=>"id", :value=>@person.id}
      %input{:type=>"hidden", :name=>"username", :value=>(@person.username||session[:username])}
      .control-group
        %label.control-label{:for=>"#first_name"} First name:
        .controls
          %input{:type=>"text", :id=>"first_name", :name=>"first_name", :value=>@person.first_name}
      .control-group
        %label.control-label{:for=>"#middle_name"} Middle name:
        .controls
          %input{:type=>"text", :id=>"middle_name", :name=>"middle_name", :value=>@person.middle_name}        
      .control-group
        %label.control-label{:for=>"#last_name"} Last name:
        .controls
          %input{:type=>"text", :id=>"last_name", :name=>"last_name", :value=>@person.last_name}    
      .control-group
        %label.control-label{:for=>"#email"} Email:
        .controls
          %input{:type=>"text", :id=>"email", :name=>"email", :value=>@person.email}          
      .control-group
        %label.control-label{:for=>"#organization"} Organization:
        .controls
          %input{:type=>"text", :id=>"organization", :name=>"organization", :value=>@person.organization}       
      .control-group
        %label.control-label{:for=>"#title"} Title:
        .controls
          %input{:type=>"text", :id=>"title", :name=>"title", :value=>@person.title}    
  .row-fluid
    .well     
      %input.btn.btn-primary{:type=>"submit", :value=>"Save profile"}