/* 
    Document   : conferenceKeeper
    Created on : Dec 5, 2007, 2:11:17 PM
    Author     : rosssinger
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


div.election_item {
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: thin;

/*    
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;*/
}

dd.election_item_description {
    display:  none;
    background-color: #eeeeee;
}
.election_vote {
    right: 1px;
}
.election_score {
    display: inline;
    vertical-align: middle;

    border-bottom-style: solid;

    border-right-style: solid;

    border-bottom-width: 1px;

    border-right-width: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

table.election_results {
    
    width: 75%;


    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
    border-right-color: #000000;
}

tr.election_results {
    
    width: 75%;


    border-bottom-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
    border-right-color: #000000;
}

th.election_results_score, td.election_results_score {
    text-align:  center;
    font-weight: bold;
}
.election_item a {
	color: #039;
	cursor: pointer;
}

.even_row .panel-heading {
	background-color: #ddd;
}
.accordion-mini {
    padding: 0;
}

.accordion-inner-mini {
  padding: 2px 15px;
  border-top: 1px solid #e5e5e5;
}

.admin-menu-label {
    padding-right: 5px;
    text-align: right;
}

.rating-score.active {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);	
}

.description {
  margin-top: 0.7em;
}

.description ul:first-child {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid #777;
}

.description ul:first-child li {
  list-style: none;
  padding:0;
}

.rating-widget {
  float: left;
  padding-right: 1em;
}

.election_item .panel-title h4 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
  font-size: 1em;
}

.panel-title h4:first-child {
  padding-left: 0;
  margin-left: 0;
}