%ul{:class=>["nav nav-list"]}
  - unless @event.nil?
    %li
      %a{:href=>"/conferences/events/#{@event.id}"}= @event.name
  %li
    %a{:href=>"/conferences/events/"} Events 
  %li
    %a{:href=>"/election/"} Elections

  - if session[:username]
    - if CONFIG["administrators"] && CONFIG["administrators"].include?(session[:username])
      %li
        %a{:href=>"/admin/"} Admin
