%form{:action=>"/login/", :method=>"POST", :class=>"form-horizontal"}   
  %div
    -if @message
      .alert.alert-danger
        %strong= @message
    %div{:class=>["alert","alert-info"]}
      %a{:href=>"/auth/code4lib?origin=#{@origin}"} Sign in
      with your
      Code4lib.org account.
      %br
      (Don't have one? 
      %a{:href=>"http://code4lib.org/user/register", :target=>"_blank"}Register at Code4lib.org.
      )
